{
  "openapi": "3.0.3",
  "info": {
    "title": "OmniBoard MCP",
    "version": "v1",
    "description": "Paid Streamable HTTP MCP endpoint for OmniBoard Solana DeFi tools. Every paid tools/call requires an on-chain USDC payment delivered through an HTTP 402 MPP challenge. The server is custody-free and only reads data, prepares transactions, or relays user-signed transactions."
  },
  "servers": [
    {
      "url": "https://api.omniboard.pro",
      "description": "Production gateway"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "mcpCall",
        "summary": "MCP Streamable HTTP endpoint",
        "description": "JSON-RPC 2.0 MCP endpoint. Use the standard MCP methods (initialize, tools/list, tools/call). Each paid tools/call returns 402 with an MPP payment challenge; pay and replay the identical request with the X-PAYMENT header. list_intents, describe_intent, and execute_intent with dryRun=true or an unconfirmed financial intent are free. Send one tools/call per request; batch JSON-RPC is rejected. Max body 64 KiB.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JsonRpcRequest" },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "tools/call",
                "params": {
                  "name": "execute_intent",
                  "arguments": {
                    "intent": "get_token_price",
                    "parameters": { "inputMint": "So11111111111111111111111111111111111111112" }
                  }
                }
              },
              "examples": {
                "getTokenPricePaid": {
                  "summary": "Read a token price (paid, returns 402 until payment). Canonical paid request.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "execute_intent",
                      "arguments": {
                        "intent": "get_token_price",
                        "parameters": { "inputMint": "So11111111111111111111111111111111111111112" }
                      }
                    }
                  }
                },
                "listIntents": {
                  "summary": "List semantic intents (free)",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "list_intents",
                      "arguments": {}
                    }
                  }
                },
                "prepareSwap": {
                  "summary": "Prepare a swap (paid, requires confirmation)",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "execute_intent",
                      "arguments": {
                        "intent": "prepare_swap",
                        "confirmed": true,
                        "parameters": {
                          "fromChain": "1151111081099710",
                          "toChain": "1151111081099710",
                          "fromToken": "So11111111111111111111111111111111111111112",
                          "toToken": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "amount": "1000000",
                          "fromAddress": "11111111111111111111111111111111"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC result.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JsonRpcResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request body, invalid JSON-RPC, unsupported batch request, invalid tool/action, or missing required field.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Payment required. The WWW-Authenticate header carries an MPP challenge and the body describes the expected USDC payment. Pay and replay the identical request with the X-PAYMENT header.",
            "headers": {
              "WWW-Authenticate": {
                "description": "MPP payment challenge (Payment scheme).",
                "schema": { "type": "string" }
              },
              "X-Omni-Payment-Intent": {
                "description": "Payment intent id to echo back on the paid retry.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentRequired" }
              }
            }
          },
          "415": {
            "description": "Content-Type must be application/json.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [{ "type": "string" }, { "type": "number" }] },
          "method": { "type": "string", "example": "tools/call" },
          "params": { "type": "object" }
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "required": ["jsonrpc"],
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [{ "type": "string" }, { "type": "number" }] },
          "result": { "type": "object" },
          "error": { "type": "object" }
        }
      },
      "PaymentRequired": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "PAYMENT_REQUIRED" },
          "requestId": { "type": "string" },
          "payment": {
            "type": "object",
            "properties": {
              "intentId": { "type": "string" },
              "amount": { "type": "string", "example": "0.001" },
              "amountBaseUnits": { "type": "integer", "example": 1000 },
              "currency": { "type": "string", "example": "USDC" },
              "network": { "type": "string", "example": "solana-mainnet" },
              "recipientWallet": { "type": "string" },
              "usdcMint": { "type": "string" },
              "nonce": { "type": "string" },
              "memo": { "type": "string" },
              "expiresAt": { "type": "string", "format": "date-time" }
            }
          },
          "instructions": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "requestId": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
